<!DOCTYPE html>
<html>
<head>
    <title>Student</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="/student" method="post" style="margin: 20px;"> 
        <label for="name"> Name : </label> <br/>  
        <input type="text" name="name" > <br/>     
        <label for="age"> Age : </label> <br/>  
        <input type="text" name="age" > <br/>    
        <label for="phone"> phone number : </label> <br/>  
        <input type="text" name="phone" > <br/>
        <label for="email"> email address : </label> <br/>  
        <input type="text" name="email" > <br/> 
        <br/>   
        <input type="submit" value="Save" class="submitbtn">
    </form>
</body>
</html>